timelog=false
activity=false
tracelog=false

<minasidor:se.csn.ipl.ab:file,debug_file@LOG@BRK>
<minasidor:se.csn.ipl.bas:file,debug_file@LOG@BRK>
<minasidor:se.csn.ipl.bsm:file,debug_file@LOG@BRK>
<minasidor:se.csn.webbsvar:file,debug_file@LOG@BRK>
<brevarende:se.csn.brevarendesystemet:file,debug_file@LOG@BRK>
<elevrapportering:se.csn.elevrapportering:file,debug_file@LOG@BRK>
<webservice:se.csn.webservice:file,debug_file@LOG@BRK>
<ark:ark:file@LOG@BRK>
<ark:critical:file@LOG@BRK>