tracelog=false
timelog=false
activity=false
<notmotor:se.csn:file,debug_file@LOG@IW>
<notmotor:org.apache.struts.actions.LookupDispatchAction:file,debug_file@LOG@IW>
<SQLLOG:se.csn.notmotor.ipl.db.QueryListenerImpl:file,debug_file@LOG@IW>
