####################
# ark.properties EW

# MinaSidor Web Services - Ab/Bas/Bsm/Rut
dao.ws.ab.ipl.csn.se=http://<host:port@IPL>/AbIplWebb/services
dao.ws.bas.ipl.csn.se=http://<host:port@IPL>/BasIplWebb/services
dao.ws.bsm.ipl.csn.se=http://<host:port@IPL>/BsmIplWebb/services
dao.ws.csn.se.ab=http://<host:port@IPL>/AbIplWebb/services
dao.ws.csn.se.bas=http://<host:port@IPL>/BasIplWebb/services
dao.ws.csn.se.bsm=http://<host:port@IPL>/BsmIplWebb/services
dao.ws.csn.se.rut.in=http://<host:port@IPL>/RutIplABWebb/services
dao.ws.csn.se.rut.i8=http://<host:port@IPL>/RutIplBSMWebb/services

# MinaTjänster Web Services - Elevrapportering/Utbildningsregister/Skolportal
dao.ws.ipl.elevrapportering=http://<host:port@IPL>/eripl/services
dao.ws.webservice.csn.se.utbildningsregister=http://<host@IPL>:<port@IPL>/UtbildningsregisterIplWebb/services
dao.ws.webservice.csn.se.skolportal=http://<host@IPL>:<port@IPL>/SkolportalIplWebb/services
dao.ws.webservice.csn.se.studeranderapportering=http://<host@IPL>:<port@IPL>/StuderanderapporteringIplWebb/services

# NySök Web Services - Används av MinaSidor
dao.ws.webservice.csn.se.nysok=http://<host:port@IPL>/nysokipl/services
# Nysök Web Services (Klartexter)
dao.ws.webservice.csn.se.nysok.klartext.wsdl=http://<host:port@IPL>/nysokipl/FOKlarTextService?wsdl

# Databaskopplingar - används för SQLJ connection
dao.db.ds1=MinaSidorWebbAlias
dao.db.ds2=
dao.db.ds3=DS3
dao.db.ds4=DS4
dao.db.ds5=StudiestartsstodWebbAlias