tracelog=false
timelog=false
activity=false

<notmotor:se.csn:file,debug_file,console@LOG@IPL>
<notmotor:org.apache.struts.actions.LookupDispatchAction:file,debug_file@LOG@IPL>
<SQLLOG:se.csn.notmotor.ipl.db.QueryListenerImpl:file,debug_file@LOG@IPL>
