####################
# ark.properties BRK

# MinaSidor Web Services - Ab/Bas/Bsm
dao.ws.ab.ipl.csn.se=http://<host:port@IPL>/AbIplWebb/services
dao.ws.bas.ipl.csn.se=http://<host:port@IPL>/BasIplWebb/services
dao.ws.bsm.ipl.csn.se=http://<host:port@IPL>/BsmIplWebb/services

# Brevärende Web Services
dao.ws.endPointBrevarendeUrl=http://<host:port@IPL>/BrevarendesystemetIpl/services

# Elevrapportering Web Services
dao.ws.ipl.elevrapportering=http://<host:port@IPL>/eripl/services